dataset/THINGS_EEG1
dataset/THINGS_EEG2

dataset/sleemory_localiser/dnn_feature_maps
dataset/sleemory_localiser/image_set
dataset/sleemory_localiser/model
dataset/sleemory_localiser/preprocessed_data

dataset/sleemory_retrieval/dnn_feature_maps
dataset/sleemory_retrieval/image_set
dataset/sleemory_retrieval/preprocessed_data
dataset/sleemory_retrieval/BLIP-2_lang_model_feats.npz

output/sleemory_localiser
output/sleemory_localiser_THINGS
output/THINGS_EEG1
output/THINGS_EEG2

output/sleemory_retrieval/enc_acc
output/sleemory_retrieval/enc_acc_avg
output/sleemory_retrieval/test_pred_eeg
output/sleemory_retrieval/whiten_eeg
output/sleemory_retrieval_vox/
output/sleemory_localiser_vox/

code/fmaps/archive
code/archive